.wrapper {
    width: 100vw; /* Ширина равна ширине окна браузера */
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* 1. ---------------------------------------Header------------------------------------ */
.header {
    width: 1200px;
    max-width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to left, #a13dff, #e26fff);
    color: #ffffff;
    border-radius: 0 0 20px 20px;
    margin-top: -8px;
}
.header__logo {
    width: 200px;
    height: auto; 
    cursor: pointer;
    display: flex;
    transition: fill 0.5s;
}
.header__logo:hover {
    filter: brightness(0) invert(1);
}
.header__input {
    width: 880px;
    height: 30px;
    position: relative;
    border: none;
    border-radius: 10px;
    margin-right: auto;
    padding: 10px;
    font-family: Roboto;
}
.header__input:focus {
    outline: 2px solid purple;
}
.header__input::placeholder {
    opacity: 0.7;
    font-family: Roboto;
}
.header__basket {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: fill 0.5s;
    margin: 0 30px 10px 0;
}
.header__basket-text {
    color: white;
    font-size: 15px;
    font-family: Roboto;
}
.header__basket-image {
    margin-bottom: -5px;
    filter: brightness(0) invert(1);
}
.header__basket-counter {
    width: auto;
    padding: 2px 5px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 34px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.header__basket-counter:hover {
    display: block;
}
/* ---------------------------------------Header-------------------------------------- */

/* 2. ---------------------------------------Slider---------------------------------- */
.slider {
    width: 1160px;
    max-width: 100%;
    position: relative;
    margin-top: 40px;
}
.slides {
    display: flex;
    overflow-x: hidden;
    position: relative;
}
.slide {
    display: none;
}
.slide img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.slider__prev,
.slider__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}
.slider__prev:hover,
.slider__next:hover {
    color: purple;
}
.slider__prev {
    left: 0;
}
.slider__next {
    right: 0;
}
.slider__dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.dot {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.dot.active {
    background-color: rgb(254, 0, 254);
}
/* --------------------------------------------Slider-------------------------------------------------- */

/* 3.----------------------------------------------------------------------------Shopping Cards------------------------------------------------------------------------ */
.shopping__cards {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 12px; 
}
.shopping__card {
    position: relative;
    width: 220px;
    height: 400px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.shopping__card-image {
    width: 100%;
    height: 210px;
    border-radius: 10px 10px 0 0;
}
.shopping__card-price {
    font-size: 25px;
    font-family: Roboto;
    margin-top: 5px;
    margin-bottom: 2px;
}
.shopping__card-price:hover {
    color: purple;
    
}
.shopping__card-date {
    font-size: 15px;
    font-family: Roboto;
    font-weight: 800;
    margin-top: 0;
}
.shopping__card-name {
    font-size: 15px;
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 6px;
}
.shopping__card-rate {
    font-size: 15px;
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 6px;
}
.shopping__card-reviews {
    font-size: 15px;
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 6px;
}
.shopping__card-addbtn {
    width: 110px;
    height: 40px;
    font-family: Roboto;
    font-weight: 700;
    background-color: purple;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    margin: auto 0 0 105px;
}
.shopping__card-addbtn:hover {
    background-color: rgb(254, 0, 254);
}
/*------------------------------------------------------------------------------Shopping Cards-------------------------------------------------------------------------*/

/* 3.1.--------------------------------------------------------------------------Quick View--------------------------------------------------------------------------- */
.quick__view_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px solid purple;
}
.shopping__card_image-quickview {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 8px;
    border-radius: 5px;
    top: 170px;
    left: 40px;
    display: none;
    color: black;
    font-weight: bold;
}
.shopping__card_image-quickview:hover {
    color: black;
    background-color: rgb(254, 0, 254, 0.4);
}
.quick__view_modal-price {
    font-size: 25px;
    font-family: Roboto;
    margin-top: 5px;
    margin-bottom: 2px;
    color: purple;
}
.quick__view_modal-date {
    font-size: 15px;
    font-family: Roboto;
    font-weight: 800;
    margin-top: 0;
}
.quick__view_modal-name {
    font-size: 15px;
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 6px;
}
.quick__view_modal-rate {
    font-size: 15px;
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 6px;
}
.quick__view_modal-reviews {
    font-size: 15px;
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 6px;
}
/* ----------------------------------------------------------------------------Quick View--------------------------------------------------------------------------- */
/* 4. ------------------------------------------------------------------------Basket Modal Window--------------------------------------------------------------------- */
.modal__window {
    width: 400px;
    max-width: none;
    max-height: none; 
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid purple;
    border-radius: 10px;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal__window_header {
    width: 400px;
    display: flex;
    gap: 90px;
    padding: 30px;
    position: relative;
}
.modal__window_header-title {
    font-size: 25px;
    color: black;
    margin-left: 15px;
    font-family: Roboto;
}
.modal__window_header-btn {
    width: 130px;
    height: 50px;
    font-family: Roboto;
    cursor: pointer;
    border-radius: 10px;
    background-color: purple;
    color: white;
    border: none;
}
.modal__window_header-btn:hover {
    background-color: rgb(254, 0, 254);
}
.card__item {
    display: flex; 
    justify-content: space-between;
}
.modal__window-item {
    font-family: Roboto;
    display: inline-block;
    font-weight: 400;
    color: black;
    margin: 0 0 10px 42px;
}
.modal__window-price {
    font-family: Roboto;
    font-weight: 500;
    display: inline-block;
    color: purple;
    margin-right: 40px;
}
.modal__window-priceall {
    font-family: Roboto;
    font-weight: 500;
    position: absolute;
    display: flex;
    top: 95px;
    left: 45px;
    color: purple;
}
.modal__window_shopping-btn {
    width: 180px;
    height: 50px;
    font-family: Roboto;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    background-color: purple;
    color: white;
    border: none;
    
    position: absolute;
    top: 180px;
    left: 110px;

}
.modal__window_shopping-btn:hover {
    background-color: rgb(254, 0, 254);
}
/* ------------------------------------------------------------------------Basket Modal Window------------------------------------------------------------------------- */

/* 5.------------------------------------------------------------------------Media request------------------------------------------------------------------------------*/
@media only screen and (max-width: 414px) {
    .wrapper {
      width: 414px;
    }
    .header {
      width: 100%;
      height: 70px;
    }
    .header__logo {
      display: none;
    }
    .header__input {
        width: 100%;
        height: 10px;
        margin-left: 20px;
    }
    .header__basket {
        width: 50px;
        height: 50px;
        top: 14px;
        left: 5px;
    }
    .header__basket-text {
        display: none;
    }
    .header__basket-counter {
        width: 6px;
        height: 6px;
        font-size: xx-small;
        left: 20px;
        padding-left: 2px;
        padding-bottom: 6px;
    }
    .slider {
        margin-top: 15px;
    }
    .dot {
        display: none;
    }
    .slide img {
        width: 100%;
        height: 80px;
    }
    .modal__window {
        width: 100%;
        height: 100%;
        border: none;
    }
    .shopping__card-price {
        color: purple;
    }
    .modal__window_header {
        width: auto;
        display: flex;
        gap: 70px;
    }
    .modal__window_shopping-btn {
        margin-left: -15px;
    }
    .shopping__card_image-quickview {
        display: none;
    }
}
/*---------------------------------------------------------------------------Media request------------------------------------------------------------------------------*/